/* General styles */
body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 20px;
}

/* Grid setup */
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto  auto auto; 
  
}

/* Shared card styles */
.card {
  padding: 10px;
  border-radius: 10px;
  color: #111;
  display: grid;
   }

.card1 {
  background: #fce6d7; /* beige */
  grid-column: span 0.5;
  grid-row: span 03; 
  font-size: 16px;
  font-weight: bold;
}
.card1 img {
  max-width: 100%;
  height: auto;
  border-radius: 1px;  
}

.card2 {
  background: #7a05ff;
grid-column: span 2;
  grid-row: span 2;
  align-items: center;
}
.card2 img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card3 {
  background: #bd94f3; /* yellow-orange */
  grid-column: span 1;
  grid-row: span 3;
}
.card3 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.card4 {
  background: #efeaf7; /* light purple */
  grid-column: span 1;
  grid-row: span 1;

}

.card4 img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
.card5 {
  background: #f7b131; /* deep purple */
  grid-column: span 1;
  grid-row: span 1;
}

.card5 img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.card6 {
  background: #fa9a1c; /* pale yellow */
  grid-column: span 1;
  grid-row: span 2.5; 
  padding: 2%;
  text-align: center;
  
}

.card6 img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Card-specific background colors and spans */
.card7 {
  background: #f4f2fa; /* purple */
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
}
}
.card7 img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card8 {
  background: #840df3; /* orange */
  grid-column: span 2;
  grid-row: span 1;
  
}
.card8 img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}


/* Footer */
footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.8rem;
}
footer a { color: #7045e6;
 }

